Package: com.level3tjg.cydelete12
Name: CyDelete12
Version: 1.1
Architecture: iphoneos-arm
Description: Delete Cydia apps just like normal applications
Maintainer: level3tjg
Author: level3tjg
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>=12.0), firmware (<<13.0)
